/******************************************************************
  Template Name: Male Fashion
  Description: Male Fashion - ecommerce teplate
  Author: Colorib
  Author URI: https://www.colorib.com/
  Version: 1.0
  Created: Colorib 
******************************************************************/

/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
8.  Latest Section
9.  Contact
10.  Footer Style
-------------------------------------------------------------------*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
} */

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

a:link {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

a:visited {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

a:active {
	color: black;
	text-decoration: none;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #ffffff;
}

.header__top {
	background: #111111;
	padding: 10px 0;
}

.header__top__left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header__top__right {
	text-align: right;
}

.header__top__links {
	display: inline-block;
	margin-right: 25px;
}

.header__top__links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 28px;
	display: inline-block;
}

.header__top__links a:last-child {
	margin-right: 0;
}

.header__top__hover {
	display: inline-block;
	position: relative;
}

.header__top__hover:hover ul {
	top: 24px;
	opacity: 1;
	visibility: visible;
}

.header__top__hover span {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.header__top__hover span i {
	font-size: 20px;
	position: relative;
	top: 3px;
	right: 2px;
}

.header__top__hover ul {
	background: #ffffff;
	display: inline-block;
	padding: 2px 0;
	position: absolute;
	left: 0;
	top: 44px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__hover ul li {
	list-style: none;
	font-size: 13px;
	color: #111111;
	padding: 2px 15px;
	cursor: pointer;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;

}

.header__logo a {
	display: inline-block;
}

.header__menu {
	text-align: center;
	padding: 26px 0 25px;
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #24365D;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e53637;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__nav__option {
	text-align: right;
	padding: 15px 0 25px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* .header__nav__option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
} */



.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}

.name-shop {
	font-size: 24px;
	font-weight: bold;
	margin: auto;
}

.name-shop span {
	font-weight: normal;
	font-style: italic;
}

.header-hr {
	margin-bottom: 10px;
	height: 10px;

}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: #111111;
	padding-top: 70px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about .footer__logo {
	margin-bottom: 30px;
}

.footer__about .footer__logo a {
	display: inline-block;
}

.footer__about p {
	color: #b7b7b7;
	margin-bottom: 30px;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.footer__widget ul li {
	line-height: 36px;
	list-style: none;
}

.footer__widget ul li a {
	color: #b7b7b7;
	font-size: 15px;
}

.footer__widget .footer__newslatter p {
	color: #b7b7b7;
}

.footer__widget .footer__newslatter form {
	position: relative;
}

.footer__widget .footer__newslatter form input {
	width: 100%;
	font-size: 15px;
	color: #3d3d3d;
	background: transparent;
	border: none;
	padding: 15px 0;
	border-bottom: 2px solid #ffffff;
}

.footer__widget .footer__newslatter form input::-webkit-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-moz-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input:-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form button {
	color: #b7b7b7;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0;
	height: 100%;
	background: transparent;
	border: none;
}

.footer__copyright__text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 40px;
}

.footer__copyright__text p {
	color: #b7b7b7;
	margin-bottom: 0;
}

.footer__copyright__text p i {
	color: #e53637;
}

.footer__copyright__text p a {
	color: #e53637;
}

/* Carousel */
.carousel_background {
	height: 80vh;
	width: 100%;
}

.div-inner-carousel {
	text-align: start;
	justify-content: center;
}

.left-carousel span {
	color: rgb(245, 132, 3);
	font-weight: 700;
}

.left-carousel h2 {
	color: black
}

.carousel-img {
	width: 100%;

}

.span-discount {
	color: red;
	margin-left: 20px;
	font-weight: 700;
	font-size: 1.3rem;
}

.p-price {
	text-decoration: line-through;
}

/* Homepage */
.homepage-title {
	font-family: 'Courier New', Courier, monospace;
	margin-left: 10px;
}

/* Log In */
.log-in-form {
	width: 40%;
	border-radius: 5%;
	background: rgba(239, 246, 175, 0.804);
	padding: 5%
}

.login-background {
	background-image: url("/src/assets/images/login-signup/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
	height: 90vh;
	background-position: 50% 50%;
}

.btn-login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-filter-type:hover {
	font-weight: bold;
}

.div-filter {
	display: flex;
	flex-direction: column;
}

.p-filter {
	font-weight: 700;
}

/* Info */
.info-name {
	font-weight: 700;
}

.info-price {
	font-size: 24px;
	color: red;

}
.btn-color-black{
	width: 50px;
	background: black;
	border: gray 1px solid;
	height: 20px;
	margin-right: 10px;
}
.btn-color-white{
	width: 50px;
	background: white;
	border: gray 1px solid;
	height: 20px;
	margin-right: 10px;

}
.btn-color-red{
	width: 50px;
	background: red;
	border: gray 1px solid;
	height: 20px;
	margin-right: 10px;

}
.info-discount {
	font-size: 1rem;
	color: gray;
	text-decoration: line-through;
	margin-left: 20px;
}
.size-p{
	margin-bottom: 0px;
}
.detail-policy {
	background: rgb(68, 250, 68);
}

.info-option{
	font-weight: bold;
	margin-top: 10px;
}
.other-img {
	height: 40vh;
	width: 100%;
}

.other-price {
	color: red;
}

.other-product-name:hover {
	font-weight: bold;
	transition: ease 0.5s 1;
}

.cart-icon {
	width: 120px;
	height: 40px;
	border-radius: 42px;
	border: 1px black solid;
	display: flex;
	justify-content: center;
	align-items: center;

}

#notice-add-cart {
	position: fixed;
	top: 10%;
	right: 0px;
	z-index: 1;
	background: green;
	color: white;
	width: 15%;
	height: 8vh;
	-webkit-animation: cssAnimation 5s forwards;
	animation: cssAnimation 5s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#notice-out-of-store {
	position: absolute;
	top: 100%;
	background: orange;
	color: white;
	width: 100%;
	height: 5vh;
	-webkit-animation: cssAnimation 5s forwards;
	animation: cssAnimation 5s forwards;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius:5px
}

@keyframes cssAnimation {
	0% {
		opacity: 0;
	}
	30%{
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cssAnimation {
	0% {
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.cart-items {

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
	margin-left: 10%;
}

.cart-pay-p {
	font-weight: 600;
}

.div-modal-checkout{
	background-image: url("./assets/images/shopping-cart/BG-modal.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
.checkout {
	width: 50%;
	background: rgb(249, 228, 228);
	padding: 25px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-image: url("./assets/images/shopping-cart/secure-online-payment-internet-banking-via-credit-card-mobile-scaled.jpg");
	background-position: 50% 50%;
	background-size: cover;
	color: white;
	border-radius: 10px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
	background: white;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
	background: white;
}
.css-z3c6am-MuiFormControl-root-MuiTextField-root{
	background: white;
	border-radius: 4px;
}
/* Category */
.category-img {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 250px;

}

.category-p {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	color: white;
	position: absolute;
}

/* Card */
.card-desc {
	color: gray;
	font-style: italic;
}

.card-title {
	font-weight: 600;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
	width: 90%;
}

.css-18ja7tu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .css-13x4zvy{
	width: 70%;
} */
.css-vqaayb {
	width: 100%;
}

.css-1d2ugx5 {
	border-radius: 0px !important;
}

.css-1wjln8q {
	background: rgb(244 247 254);
}

.css-k0vq7x {
	background: blue;
}

.css-nsrnnc {
	color: #8F9BBA;
}

.css-153s449 {
	color: #1B2559;
}

.css-vqaayb {
	margin-bottom: 0px !important;
	border-top: 3px solid gray;
}

.css-3p1oej {
	border: 3px gray solid;
}

.css-zbl6zd {
	margin-bottom: 0px !important
}

.css-0 {
	border-bottom: 2px gray solid;
}

.css-wjh20t-MuiPagination-ul {
	justify-content: center;
}
.css-q8hpuo-MuiFormControl-root{
	align-items: center;
}
.invalid-textfield {
	color: red;
}


.payment-p{
	margin-right: 5px;
}
.select-modal {
	color: red;
	/* height: 1.4375em; */
	width: 90%;
	padding: 16.5px 14px;
}

.css-sqorp7-MuiFormControl-root-MuiTextField-root {
	width: 95%;
}

.css-1enay5o-MuiGrid-root {
	align-items: center;
}
.div-total-cost{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
}
.card-img{
	width: 250px;
	height: 300px;
}
.card-div{
	width: 250px;
	margin: 12px;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.css-13x4zvy {
		width: 70%;
	}
	.cart-img{
		width: 150px 	;
		height: 250px;
	}
	.admin-product-img {
		width: 200px;
		height: 30vh;
	}
	.card-img{
		width: 250px;
		height: 300px;
	}
	.card-div{
		width: 250px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.header__menu ul li {
		margin-right: 38px;

	}
	.card{
		width: 250px;
	}
	.css-13x4zvy {
		width: 70%;
	}
	.card-container{
		display: flex;
		justify-content: center;
	}
	.cart-img{
		width: 150px 	;
		height: 230px;
	}
	.admin-product-img {
		width: 170px;
		height: 30vh;
	}
	.card-img{
		width: 250px;
		height: 300px;
	}
	.card-div{
		width: 250px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header__menu ul li {
		margin-right: 10px;
	}

	.header__nav__option a {
		margin-right: 10px;
	}

	.header__nav__option .price {
		margin-left: 0;
	}

	.carousel_background {
		height: 60vh;
	}

	.log-in-form {
		width: 60%;
	}

	.log-in-title {
		font-size: 50px;
	}
	.cart-img{
		width: 150px 	;
		height: 200px;
	}
	.css-mr8gla {
		width: 20% !important;
	}

	.css-13x4zvy {
		width: 80%;
	}
	.card-container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card {
		width: 250px;
	}
	.category-div{
		width: 70%;
	}
	.div-total-cost{
		justify-content: center;
	}
	.div-coupon{
		justify-content: center;
		margin-bottom: 20px;
	}
	.admin-product-img {
		width: 170px;
		height: 15vh;
	}
	.checkout{
		width: 70%;
	}
	.card-img{
		width: 250px;
		height: 300px;
	}
	.card-div{
		width: 250px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.card-img{
		width: 250px;
		height: 300px;
	}
	.card-div{
		width: 250px;
	}
	.img-cart-notfound{
		width: 100%;
	}
	.header__top {
		display: none;
	}

	.header .container {
		position: relative;
	}

	.header__menu {
		display: none;
	}

	/* .header__nav__option {
		display: none;
	} */
	.carousel_background {
		height: 40vh;
	}

	.log-in-form {
		width: 70%;
	}

	.log-in-title {
		font-size: 40px;
	}

	.category-img {
		width: 100%;
	}

	.category-div {
		width: 100%;
	}

	.card-container {
		display: flex;
		justify-content: center;
	}

	.card {
		width: 250px;
	}

	.carousel-caption {
		height: 30vh !important;
	}

	.login-background {
		justify-content: center;
		/* height:110vh !important; */
	}

	.log-in-form {
		width: 85%;
	}

	.other-img {
		height: 20vh;
		width: 200px;
	}

	.other-p {
		width: 150px;
	}

	.detail-div p {
		font-size: 24px;
	}

	.detail-div h4 {
		font-size: 32px;
	}

	.detail-div h5 {
		font-size: 28px;
	}
	.div-total-cost{
		justify-content: center;
	}
	.div-coupon{
		justify-content: center;
		margin-bottom: 20px;
	}
	.info-name {
		font-size: 24px;
	}
	.info-img {
	  /* the coordinate of the zoom */
	  --x: 50%;
	  --y: 50%;
	  /**/
	  transform: scale(var(--zoom));
	  transform-origin: var(--x) var(--y);
	  clip-path: inset(
		calc((1 - 1/var(--zoom)) * (var(--y)))
		calc((1 - 1/var(--zoom)) * (100% - var(--x)))
		calc((1 - 1/var(--zoom)) * (100% - var(--y)))
		calc((1 - 1/var(--zoom)) * (var(--x)))
	  );
	  width: 200px;
	  cursor: crosshair;
	}
	
	.info-img:hover {
	  --zoom:2; /* control the zoom level */
	}
	.detail-policy {
		margin-top: 10px;
	}

	.checkout {
		width: 100%;
	}

	.btn-remove {
		top: -80px !important;
		left: 0px !important;
	}

	.cart-products {
		display: none;
	}

	.item-product {
		flex-direction: column;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.card-desc{
		display: none;
	}

}